<footer id="footer">
  <div class="foot">
    <!-- <a id="gotop">TOP</a> -->
    <div id="copyright">Copyright &copy; 2016 <a href="#" target="_blank">wangwenxiang</a>
      All Rights Reserved, Power by <a href="<%= config.author.github %>" target="_blank">Github Pages</a> and
      <a href="https://hexo.io/" target="_blank">HEXO</a></div>
  </div>
</footer>
