<footer id="footer">
  <div class="foot">
    <!-- <a id="gotop">TOP</a> -->
    <!-- <div id="copyright">Copyright &copy; 2016 <a href="#" target="_blank">WangWenXiang</a><br>
       Power by <a href="<%= config.author.github %>" target="_blank">Github Pages</a> |
      <a href="https://hexo.io/" target="_blank">HEXO</a></div> -->
      <div id="copyright">还没想好要写什么</div>
  </div>
</footer>
