<div id="guide">
    <div class="guide-button <% if (page.tag == "index"){ %>guide-selected<% } %>" _href="/tags/index/">首页</div>
    <div class="guide-button <% if (page.tag == "tech"){ %>guide-selected<% } %>" _href="/tags/tech/">技术</div>
    <div class="guide-button <% if (page.tag == "life"){ %>guide-selected<% } %>" _href="/tags/life/">生活</div>
    <div class="guide-button <% if (page.category == "read"){ %>guide-selected<% } %>" _href="/categories/read/">阅读</div>
    <img src="/img/photo.png">
</div>