<div id="guide">
    <div class="guide-button <% if (page.tag == "index"){ %>guide-selected<% } %>" _href="/tags/index">首页</div>
    <div class="guide-button <% if (page.tag == "project"){ %>guide-selected<% } %>" _href="/tags/project">项目</div>
    <div class="guide-button <% if (page.tag == "note"){ %>guide-selected<% } %>" _href="/tags/note">笔记</div>
    <div class="guide-button <% if (page.tag == "life"){ %>guide-selected<% } %>" _href="/tags/life">生活</div>
    <div class="guide-button <% if (page.category == "read"){ %>guide-selected<% } %>" _href="/categories/read">阅读</div>
    <img src="/img/photo.png">
</div>
