<!--<div id="guide">-->
    <!--<div class="guide-button <% if (page.tag == "index"){ %>guide-selected<% } %>" _href="/tags/index">首页</div>-->
    <!--<div class="guide-button <% if (page.tag == "arithmetic"){ %>guide-selected<% } %>" _href="/tags/arithmetic">算法</div>-->
    <!--<div class="guide-button <% if (page.tag == "note"){ %>guide-selected<% } %>" _href="/tags/note">笔记</div>-->
    <!--<div class="guide-button <% if (page.tag == "life"){ %>guide-selected<% } %>" _href="/tags/life">生活</div>-->
    <!--<div class="guide-button <% if (page.category == "read"){ %>guide-selected<% } %>" _href="/categories/read">阅读</div>-->
    <!--<img src="/img/photo.png">-->
<!--</div>-->

<div id="guide">
    <div class="guide-button <% if (page.tag == "index"){ %>guide-selected<% } %>" _href="/tags/index/">首页</div>
    <div class="guide-button show-extend guide-extend <% if (page.tag == "tech" || page.tag == "note" || page.tag == "river" || page.tag == "arithmetic"){ %>guide-selected<% } %>" _href="/tags/tech/">技术</div>
    <div class="guide-button <% if (page.tag == "life"){ %>guide-selected<% } %>" _href="/tags/life/">生活</div>
    <div class="guide-button <% if (page.category == "read"){ %>guide-selected<% } %>" _href="/categories/read/">阅读</div>
    <img src="/img/photo.png">
</div>

<div id="tech-extend" class="show-extend">
    <div class="extend <% if (page.tag == "note"){ %>extend-selected<% } %>" _href="/tags/note/">笔记</div>
    <div class="extend extend-border <% if (page.tag == "arithmetic"){ %>extend-selected<% } %>" _href="/tags/arithmetic/">算法</div>
    <div class="extend extend-border <% if (page.tag == "river"){ %>extend-selected<% } %>" _href="/tags/river/">river</div>
</div>
