<section id="content">
    <article class="post">
        <div class="base-info">
          <div class="b-info">
            <div id="name-bg">王文祥<div>
            <div id="jobs">应聘岗位<div>
            <div id="mail">wangwenxiang1993@gmail.com<div>
            <div id="phone">18701113061<div>
            <div id="now-job">现就职于：去哪儿网<div>
          </div>
          <img src="" />
        </div>
    </article>
</section>

<div class="clear"></div>
