<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
    <title><%= config.title %></title>
</head>
<body>
<div class="animated" id="info-min">
    <%- partial("_partial/info_min",{}) %>
</div>
<div id="wrap">
    <%- body %>
    <%- partial("_partial/footer",{}) %>
</div>
<div class="img-view">
    <span><img src="/img/guide.jpeg"></span>
</div>
<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript" async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
<link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.2.0/styles/github.min.css">
<script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
